.hero {
  position: relative;
  overflow: hidden;

  min-height: 100vh;
}

.hero-reveal {
  position: absolute;
  inset: 0;

  background-image: url("../img/logoDevCore.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  opacity: 1;

  pointer-events: none;
  z-index: 1;

  transition: clip-path 0.08s ease-out;

  clip-path: circle(0px at center);
}

.header,
.header-content {
  position: relative;
  z-index: 2;
}

.reveal {
  opacity: 0;
  filter: blur(10px);

  transform: translateY(40px);
  transition:
    opacity 1.1s ease,
    filter 1.1s ease,
    transform 1.1s cubic-bezier(0.22, 1, 0.36, 1);
}

.reveal.active {
  opacity: 1;
  filter: blur(0);

  transform: translateY(0);
}

.image-modal {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.9);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;

  transition: 0.35s ease;

  z-index: 9999;
}

.image-modal.active {
  opacity: 1;
  visibility: visible;
}

.modal-image {
  max-width: 90%;
  max-height: 90vh;

  border-radius: 16px;

  transform: scale(0.9);
  transition: transform 0.35s ease;
}

.image-modal.active .modal-image {
  transform: scale(1);
}

.close-modal {
  position: absolute;

  top: 30px;
  right: 40px;

  font-size: 3rem;
  color: white;

  cursor: pointer;
}

.fullscreen-image {
  cursor: zoom-in;
}
