.btn,
.btn-contact {
  text-align: center;
  text-decoration: none;

  padding: 14px 24px;
  min-width: 220px;

  border-radius: var(--radius-sm);
  border: none;

  background-color: var(--background-btn);
  color: var(--color-text-first);

  box-shadow: var(--box-shadows);

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
}

.btn:hover,
.btn-contact:hover {
  transform: translate(3px, 3px);
  background-color: #1b2f57;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.btn {
  align-self: center;

  margin-top: 2rem;
}
