* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  background: var(--background-body);
  color: var(--color-text-first);
}

body p {
  font-size: 20px;
}
